<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee ht" metadata-complete="true" version="3.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletUserDelete</servlet-name>
    <servlet-class>Servlet.ServletUserDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletViewPlayer</servlet-name>
    <servlet-class>Servlet.ServletViewPlayer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletCommentPlayer</servlet-name>
    <servlet-class>Servlet.ServletCommentPlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletUserDelete</servlet-name>
    <url-pattern>/ServletUserDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletViewPlayer</servlet-name>
    <url-pattern>/ServletViewPlayer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletCommentPlayer</servlet-name>
    <url-pattern>/ServletCommentPlayer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRatePlayer</display-name>
    <servlet-name>ServletRatePlayer</servlet-name>
    <servlet-class>Servlet.ServletRatePlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRatePlayer</servlet-name>
    <url-pattern>/ServletRatePlayer</url-pattern>
  </servlet-mapping>
</web-app>